@import '../../index.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $emerald;
  width: 100vw;
  height: 120px;
  padding: 0px 24px 0px 24px;
  color: $white;
}

.header-text {
  align-items: center;
  margin-left: 10px;
}

.logotype {
  height: 50%;
}
