@import '../../index.scss';

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $midnight;
  width: 100vw;
  height: 75px;
  padding: 0px 48px 0px 48px;
  color: $white;
  position: fixed;
  border-bottom: 1px solid $gray-2;
}

.nav-menu-item {
  font-size: 10.5pt;
  font-weight: 600;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.logotype-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.logotype {
  height: 50%;
  padding: 0px 12px 0px 12px;
}
