@import "../../index.scss";

.usage-container {
  background-color: $gray-1;
  color: $midnight;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: calc(40% * 0.1) calc(40% * 0.1) calc(40% * 0.1) calc(40% * 0.2);
  //border: 1px solid blue;
}
