@import "../../index.scss";

.primary-button {
  width: fit-content;
  //border: 1px solid $gray-2;
  border-radius: 24px;
  padding: 4px 18px;
  background: $white;
  border: none;
  box-shadow: 0 2px 5px 0 rgba($gray-6, 0.2), 0 1px 1px 0 rgba($midnight, 0.1);
  cursor: pointer;

  font-family: $primary-font;
  font-weight: 600;
  color: $lime-dark;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $emerald-light;
  }

  &:active {
    background: $gray-1;
  }
}

.authorization-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
