@import "../../../index.scss";

.table-item-container {
  //border: 1px solid red;
}

.table-item-description {
  margin-top: 0;
}

.table-item {
  margin-bottom: 0 !important;
  font-family: $code-font;
}
