@import "../../../index.scss";

$border-radius: 6px;
$padding: 12px;

.table-wrapper {
  width: 100%;
  margin-top: 48px;
  padding: 0;
  border-radius: $border-radius;
  border: 1px solid $gray-2;
  overflow: hidden;
}

table {
  margin-right: -2px;
  padding-right: -2px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $midnight;
  font-size: 8pt;
  border-radius: $border-radius;
  overflow-x: scroll;
}

thead {
  tr {
    background: $gray-2;
    border-radius: 0px $border-radius $border-radius 0;
    th {
      padding: $padding * 1.2 $padding $padding $padding;
      text-align: left;
      border-bottom: 1px solid $gray-2;

      &:first-child {
        border-radius: $border-radius 0 0 0;
        padding-left: $padding * 2;
      }

      &:last-child {
        border-radius: 0 $border-radius 0 0;
        padding-right: $padding * 2;
      }
    }
  }
}

tbody {
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-2;
    }

    &:last-child {
      td {
        &:first-child {
          border-radius: 0 0 0 $border-radius;
        }

        &:last-child {
          border-radius: 0 0 $border-radius 0;
        }
      }
    }

    td {
      padding: $padding;

      &:first-child {
        padding-left: $padding * 2;
      }

      &:last-child {
        padding-right: $padding * 2;
      }
    }
  }
}

tr:nth-of-type(even) {
  background: $gray-1;
}
