@import '../../index.scss';

.container-block-header-container {
  padding: 0px 12px 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-3;
}

.container-block {
  width: 500px;
  margin: 10px 10px 10px 10px;
  background-color: $gray-2;
}

.container-block-content {
  padding: 24px 24px 24px 24px;
  white-space: nowrap;
  overflow-x: scroll;
}

.container-block-header {
  
}

.container-block-header-button {
  margin-right: 5px;
  height: 30px;
}
