.navigation-container {
  max-width: 240px;
  display: table;
  background-color: #e0e8f0;
  flex: 1 auto;
}

.sidebar-subitem-text {
  font-size: 0.8rem;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  text-align: left;
}
