@import "../../index.scss";

.navigation-container {
  background-color: $gray-1;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: fit-content;
  padding: 24px 72px 0px 24px;
  border-right: 1px solid $gray-2;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: none;
    margin-left: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-2;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track:hover {
    background: $gray-3;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $gray-4;
  }
}

.navigation-title {
  font-size: 14pt;
  color: $emerald;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
  width: fit-content;
}

.navigation-list-header {
  margin-top: 24px;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  color: $lime-dark !important;
  font-weight: 600;
}

#docs-text {
  margin-left: 6px;
}

select {
  width: 100%;
  border: 1px solid $gray-2;
  border-radius: 5px;
  color: $gray-6;
  padding: 4px 8px;
  font-weight: 600;

  &:focus {
    outline: none;
  }
}
