@import '../../index.scss';

.navigation-container {
  background-color: $gray-1;
  overflow-y: scroll;
  overflow-x: hidden;
  width: fit-content;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}

.navigation-title {
  font-size: 14pt;
  color: $emerald;
}

.navigation-list {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  width: 250px;
}

.navigation-list-header {
 margin-top: 50px; 
}
