@import "../../../index.scss";

.architectural-overview-container {
    width: 100%;
    padding: 24px;
}

.architectural-overview-badge {
    width: fit-content;
    border: 1px solid $gray-2;
    border-radius: 24px;
    padding: 4px 18px;
    background: $white;
    //border: none;
    //box-shadow: 0 2px 5px 0 rgba($gray-6, 0.2), 0 1px 1px 0 rgba($midnight, 0.1);
    cursor: pointer;

    font-family: $primary-font;
    font-weight: 600;
    color: $lime-dark;
    text-transform: uppercase;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $emerald-light;
    }

    &:active {
        background: $gray-1;
    }
}

.arch-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //background: red;
}

.arch-column {
    //width: 200px;
    //height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    //background: cyan;
}

.arch-row {
    //width: 180px;
    //height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: chartreuse;
    //border: 1px solid red;
}