.list-item-label {
  color: #4c5f72;
  text-decoration: none;
}

.list-item-label-selected {
  color: black;
  text-decoration: none;
}

.navigation-item-container {
  margin-bottom: 10%;
  margin-top: 10%;
  user-select: none;
}

.navigation-item-container:hover {
  cursor: pointer;
}

.navigation-sub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
