@import "../../../index.scss";

.list-item-label {
  color: rgba($gray-6, .75);
  text-decoration: none;
}

.list-item-label:hover {
  color: $gray-6;
}

.navigation-item-container {
  margin-bottom: 2%;
  margin-top: 2%;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.navigation-item-container:hover {
  cursor: pointer;
}

.navigation-sub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.active {
  color: $lime-dark;
  background: rgba($emerald, .2);
  text-decoration: none;
  padding: 2px 120% 2px 0px;
  border-radius: 5px;
}

.active:hover {
  color: $lime-dark;
}

.list-item-header {
  user-select: none;
  margin-bottom: 12px;
  border-bottom: 1px solid $gray-2;
}

.faded {
  color: $gray-5;
}

