@import "../../../index.scss";

.list-item-label {
  color: $gray-6;
  text-decoration: none;
}

.navigation-item-container {
  margin-bottom: 2%;
  margin-top: 2%;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.navigation-item-container:hover {
  cursor: pointer;
}

.navigation-sub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.active {
  color: $lime-dark;
  background: rgba($gray-2, .2);
  text-decoration: none;
  padding-right: 120%;
  border-radius: 5px;
}

.list-item-header {
  user-select: none;
  margin-bottom: 12px;
  border-bottom: 1px solid $gray-2;
}

