.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  grid-template-columns: auto 1fr 600px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
